#priceContainer {
  text-align: center;
}

#priceContainer h1 {
  color: #ffca00;
}

.importantInfoToggle {
  background-color: #ffca00;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 1.375rem;
  margin: 2rem auto 0 auto;
  width: 80%;
  border: none;
  color: #003366;
  font-weight: bold;
}

.importantInfoToggle:hover {
  background-color: #003366;
  color: #ffca00;
  transition: 0.5s;
}

.pricingTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricingTable h2 {
  color: black;
  margin: 1rem;
}

.pricingPlan h2 {
  color: #003366;
  margin: 0;
}

.pricingTable p {
  color: black;
  margin-top: 0;
}

.planCardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.pricingPlan {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: #e6b800 2px double;
  border-radius: 10px;
  text-align: start;
  width: 25vw;
  max-width: 400px;
  background-color: white;
  padding: 1.5rem;
  position: relative;
  padding-bottom: 3.5rem;
  color: #003366; /* Ensure text color is explicitly set */
}

.pricingPlan.plansPage {
  padding-bottom: 0;
}

.pricingPlan button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  height: 3rem;
  display: flex;
  align-items: center;
}

.pricingPlan hr {
  width: 100%;
  border: 1px solid #003366;
  margin: 0;
}

.pricingPlan h3 {
  margin-bottom: 0;
}

.pricingPrice {
  color: #003366;
  font-size: 24px;
  padding-top: 1rem;
  margin: 0;
  font-weight: 500;
}

.pricingPrice.mensal {
  font-weight: bold;
}

.pricingPrice.anual {
  font-weight: bold;
}

.buttonGroup {
  border: black 1px solid;
  border-radius: 7.5px;
  display: inline-flex;
}

.buttonGroup button {
  padding: 0.5rem 1rem;
  width: auto;
  font-size: 1rem;
  background-color: #003366;
  border: none;
  cursor: pointer;
}

.importantInfo {
  padding: 0 1rem;
  color: black;
}

.pricingPlan2 h1,
h2 {
  margin: 0;
}

.pricingTable h3 a {
  color: #003366;
}

.pricingPlan h2,
.pricingTable h3,
.pricingPlan ul li {
  color: #003366;
}

.extraInfo {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #666;
}

.extraInfoContainer {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  text-align: left;
}

.extraInfoContainer h4 {
  margin: 0 0 0.5rem;
  font-size: 1rem;
  color: #003366;
}

.extraInfoContainer p {
  margin: 0.5rem 0; /* Espaçamento entre linhas */
  font-size: 0.9rem;
  color: #666;
}

@media (max-width: 1175px) {
  .pricingPlan {
    width: 80vw;
  }
}
