.sectionContainer {
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-text-secondary);
  position: relative;
}

.sectionContainer h3 {
  margin-top: 1.5rem;
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sectionContainer .sectionContent {
  padding: 0 1rem;
}

.icon {
  margin-left: 10px;
}
