# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flask-specific
instance/
*.pyc
*.pyo
__pycache__/
env/
.venv/
*.env
*.flaskenv

# Uploaded files
uploaded_pdf.pdf

ServerFiles/
