#contatoContainer {
  margin: 0 auto;
  color: var(--color-text-secondary);
  margin-top: 5rem;
  width: 50%;
  height: auto;
}

#contatoContainer h1 {
  text-align: center;
  color: var(--color-secondary);
}

.iconsGroup {
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
  margin-bottom: 2rem;
}

.icon {
  font-size: var(--font-size-2xl);
  color: var(--color-primary);
}

.icon:hover {
  color: var(--color-secondary);
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: var(--font-size-md);
}

.formGroup input,
.formGroup textarea {
  width: var(--width-container-lg);
  padding: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: var(--border-width-thin) solid var(--color-border-medium);
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: var(--font-size-md);
}

.formGroup input:-webkit-autofill,
.formGroup textarea:-webkit-autofill {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
}

.formGroup textarea {
  resize: vertical;
}

.submitBtnContainer {
  display: flex;
  justify-content: center;
  margin: 0 0 3rem;
}

@media (max-width: 1175px) {
  #contatoContainer {
    margin: 0 auto;
    color: #333;
    margin-top: 5rem;
    width: 75%;
    height: auto;
  }
}
