.pdfUploadPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7.5rem auto;
  background-color: var(--color-white);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.pdfUploadPageContainer h1,
.pdfUploadPageContainer label {
  color: #333;
}

.pdfUploadPageContainer h1 {
  margin: 0;
}

.pdfUploadPageContainer input {
  margin-bottom: 1rem;
  color: #333;
  border: #333 solid 1px;
  padding: 0.5rem;
  box-sizing: border-box;
}

.pdfUploadPageContainer p {
  color: #333;
}

.pdfUploadPageContainer .customizationDialog {
  position: absolute;
  margin-top: 6rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  z-index: 999;
  color: #333;
  max-height: 80vh;
  overflow-y: auto;
}

.pdfUploadPageContainer .customizationDialog label {
  display: block;
  margin-bottom: 8px;
}

.pdfUploadPageContainer .pdfUploaderForm {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.pdfUploadPageContainer .customizationDialog button {
  margin: 1rem auto;
}

.pdfUploadPageContainer input[type="file"] {
  width: 100%;
}

.pdfUploadPageContainer .pdfUploaderButtons {
  display: flex;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 0.5rem;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}

.pdfUploadPageContainer .pdfUploaderButtonsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.pdfUploadPageContainer .customizationDialog input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.2);
}

.pdfUploadPageContainer label {
  width: 100%;
}

@media (max-width: 768px) {
  .pdfUploadPageContainer .customizationDialog {
    width: 80%;
  }

  .pdfUploadPageContainer .pdfUploaderButtonsContainer {
    flex-direction: column;
    align-items: stretch;
  }

  .pdfUploadPageContainer .pdfUploaderButtons {
    flex-direction: column;
  }

  .pdfUploadPageContainer .btnPrimary,
  .pdfUploadPageContainer .btn-secondary {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.pdfUploadPageContainer .btnPrimary,
.pdfUploadPageContainer .btn-secondary {
  margin: 0;
  min-width: 120px;
}

.pdfUploadPageContainer .customizationDialog .btnPrimary {
  margin: 1rem auto;
  display: block;
  width: auto;
}
