#homeContainer {
  height: auto;
  color: #000;
  margin-top: 5rem;
}

#homeContainer .downloadBtn {
  display: none;
}

.homeText {
  font-size: 1.5rem;
  text-align: center;
  padding: 5rem;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.cards {
  display: flex;
  gap: 1rem;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 66.5vh;
  margin: auto;
  padding: 2rem;
}

.videoContainer iframe {
  height: 100%;
  width: 50%;
}

.videoContainer h1 {
  color: #ffca00;
}

#priceContainer {
  color: #0f3558;
}

@media (max-width: 925px) {
  #homeContainer .downloadBtn {
    display: block;
  }

  .homeText {
    padding: 1rem;
  }

  .cards {
    flex-direction: column;
  }

  .cardsContainer {
    padding: 0.75rem;
  }

  .videoContainer {
    height: 50vh;
    width: 75vw;
    margin: auto;
  }

  .videoContainer iframe {
    width: 100%;
  }
}
