.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Expande o card suavemente */
}

.card h2 {
  margin-top: 0;
  color: #0f3558;
}

@media (max-width: 925px) {
  .card {
    width: auto;
  }
}
