#termsConditionsContainer {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  color: #333;
  margin-top: 5rem;
  position: relative;
}

#termsConditionsContainer h1 {
  text-align: center;
  color: #0f3558;
}

#termsConditionsContainer p {
  margin-top: 1rem;
  line-height: 1.6;
}
