#homeContainer {
  height: auto;
  color: #000;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#homeContainer .downloadBtn {
  display: none;
}

.homeTextContainer {
  font-size: 1.5rem;
  text-align: center;
  height: calc(100vh - 5rem);
  margin: 0;
}

.homeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.bentoWrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 5rem 0;
  min-height: 25rem;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  margin: auto;
  padding: 5rem 0 5rem 0;
}

.videoContainer iframe {
  height: 100%;
  width: 75%;
}

.videoContainer h1 {
  color: #ffca00;
  margin-top: 0;
}

.saibaMaisBtn {
  cursor: pointer;
  background-color: #0f3558;
  color: #ffca00;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
  text-decoration: none;
  margin-top: 1rem;
  display: inline-block;
  width: 10rem;
  text-align: center;
}

.saibaMaisBtn:hover {
  background-color: #ffca00;
  color: #0f3558;
}

#priceContainer {
  color: #0f3558;
  padding: 5rem 0 5rem 0;
}

@media (max-width: 1175px) {
  #homeContainer .downloadBtn {
    display: block;
  }

  .homeTextContainer {
    padding: 1rem;
    height: auto;
  }

  .cardsContainer {
    padding: 5rem 0;
  }

  .videoContainer {
    height: 50vh;
    width: 75vw;
    margin: auto;
    text-align: center;
  }

  .videoContainer iframe {
    width: 100%;
  }
}
