#priceContainer {
  text-align: center;
}

#priceContainer h1 {
  color: #ffca00;
}

.importantInfoToggle {
  margin-top: 1.5rem;
  background-color: #ffca00;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.375rem;
  margin: 1.5rem auto;
  width: 50%;
  text-align: center;
  border: none;
  text-decoration: none;
  color: #003366;
  font-weight: bold;
}

.importantInfoToggle:hover {
  background-color: #e6b800;
}

.pricingTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricingTable h2 {
  color: #003366;
}

.pricingTable p {
  color: black;
  margin-top: 0;
}

.planCardsContainer {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.pricingPlan {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #e6b800 2px solid;
  border-radius: 10px;
  text-align: center;
  width: 40%;
  height: auto;
  max-width: 400px;
  padding: 0.5rem;
  background-color: white;
}

.pricingPlan2 {
  border: #e6b800 2px solid;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pricingHeader + hr {
  width: 100%;
  border: 1px solid #003366;
  margin: 0;
}

.pricingPrice {
  color: #003366;
  font-size: 24px;
  margin: 20px 0;
  font-weight: 500;
}

.pricingPrice.mensal {
  font-weight: bold;
}

.pricingPrice.anual {
  font-weight: bold;
}

.buttonGroup {
  border: black 1px solid;
  border-radius: 7.5px;
  display: inline-flex;
}

.buttonGroup button {
  padding: 0.5rem 1rem;
  width: auto;
  font-size: 1rem;
  background-color: #003366;
  border: none;
  cursor: pointer;
}

.importantInfo {
  padding: 0 1rem;
  color: black;
}

@media (max-width: 1175px) {
  .importantInfoToggle {
    width: 75%;
  }
}

@media (max-width: 700px) {
  .planCardsContainer {
    flex-direction: column;
    align-items: center;
  }
  .pricingPlan {
    width: 80%;
  }
}
