.downloadBtn {
  cursor: pointer;
  background-color: #ffca00;
  color: #242424;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.downloadBtn:hover {
  background-color: #0f3558;
  color: white;
}
