#contatoContainer {
  max-width: 600px;
  margin: 5rem auto 0;
  padding: 0 1rem;
  color: var(--color-text-secondary);
  width: 100%;
}

#contatoContainer h1 {
  text-align: center;
  color: var(--color-secondary);
}

.iconsGroup {
  display: flex;
  justify-content: center;
  gap: var(--spacing-md);
  margin-bottom: 2rem;
}

.icon {
  font-size: var(--font-size-2xl);
  color: var(--color-primary);
}

.icon:hover {
  color: var(--color-secondary);
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: var(--font-size-md);
}

.formGroup input,
.formGroup textarea {
  width: var(--width-container-lg);
  padding: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: var(--border-width-thin) solid var(--color-border-medium);
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: var(--font-size-md);
}

.formGroup input:-webkit-autofill,
.formGroup textarea:-webkit-autofill {
  background-color: var(--color-white) !important;
  color: black !important;
  border: 1px solid var(--color-border-medium) !important;
}

.formGroup textarea {
  resize: vertical;
}

.submitBtnContainer {
  display: flex;
  justify-content: center;
  margin: 0 0 3rem;
}

@media (max-width: 768px) {
  #contatoContainer {
    max-width: 90%;
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  #contatoContainer {
    max-width: 95%;
    padding: 0 0.75rem;
  }

  .formGroup input,
  .formGroup textarea {
    font-size: var(--font-size-sm);
    padding: 0.75rem;
  }
}
