#contatoContainer {
  margin: 0 auto;
  color: #333;
  margin-top: 5rem;
  width: 50%;
  height: auto;
}

#contatoContainer h1 {
  text-align: center;
  color: #ffca00;
}

.iconsGroup {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.icon {
  font-size: 2rem;
  color: #0f3558;
}

.icon:hover {
  color: #ffca00;
}

.formGroup {
  margin-bottom: 1.5rem;
}

.formGroup label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.formGroup input,
.formGroup textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  font-size: 1.25rem;
}

.formGroup input:-webkit-autofill,
.formGroup textarea:-webkit-autofill {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
}

.formGroup textarea {
  resize: vertical;
}

.submitBtn {
  cursor: pointer;
  background-color: #0f3558;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.5rem;
  transition: background-color 0.2s, color 0.2s;
  width: 75%;
}

.submitBtn:hover {
  background-color: #ffca00;
  color: #242424;
}

.submitBtnContainer {
  display: flex;
  justify-content: center;
  margin: 0 0 3rem;
}

@media (max-width: 1175px) {
  #contatoContainer {
    margin: 0 auto;
    color: #333;
    margin-top: 5rem;
    width: 75%;
    height: auto;
  }
}
